<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3 class="text-theme-primary">{{ formStatus }} Post</h3>
      <p class="mb-5">You can {{ formStatus }} your post here</p>
    </div>
  </div>
  <form [formGroup]="postForm" (submit)="onSubmit()">
    <div class="row">
      <div class="col-md-7">
        <div class="card shadow-effect">
          <div class="card-body">
            <div class="form-group">
              <label class="mb-2">Tittle</label>
              <input
                type="text"
                class="form-control"
                (input)="onTitleChanged($event)"
                formControlName="title"
                [ngClass]="{
                  'is-invalid':
                    formControl['title'].touched &&
                    formControl['title'].hasError('required')
                }"
              />

              <div>
                @if(formControl['title'].touched &&
                formControl['title'].hasError('required')){
                <div class="alert alert-danger">Title is required</div>
                }
              </div>
              <div>
                @if( formControl['title'].touched &&
                formControl['title'].hasError('minlength')){
                <div class="alert alert-danger">
                  Title must be at least 5 characters long
                </div>
                }
              </div>
            </div>
            <div class="form-group">
              <label class="mb-2 mt-2">Permalink</label>
              <input
                type="text"
                class="form-control"
                [formControl]="permalink"
                formControlName="permalink"
              />
              <!-- <input
                type="text"
                class="form-control"
                [formControl]="postForm.get('permalink') as FormControl"
                formControlName="permalink"
              /> -->
            </div>
            <div class="form-group mt-2">
              <label class="mb-2">Excerpt</label>
              <textarea
                cols="30"
                rows="10"
                class="form-control"
                formControlName="excerpt"
                [ngClass]="{
                  'is-invalid':
                    formControl['excerpt'].touched &&
                    formControl['excerpt'].hasError('required')
                }"
              ></textarea>
              <div>
                @if(formControl['excerpt'].touched &&
                formControl['excerpt'].hasError('required')){
                <div class="alert alert-danger">Excerpt is required</div>
                }
              </div>
              <div>
                @if( formControl['excerpt'].touched &&
                formControl['excerpt'].hasError('minlength')){
                <div class="alert alert-danger">
                  Excerpt must be at least 50 characters long
                </div>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <label class="mb-2">Please select a post category</label>
          <select
            class="form-control"
            formControlName="category"
            [ngClass]="{
              'is-invalid':
                formControl['category'].touched &&
                formControl['category'].hasError('required')
            }"
          >
            <option value="">Please select a category</option>
            @for(category of categories; track category.id){
            <option value="{{ category.id }}-{{ category.category }}">
              {{ category.category }}
            </option>
            }
          </select>
          <div>
            @if(formControl['category'].touched &&
            formControl['category'].hasError('required')){
            <div class="alert alert-danger">Please select a category</div>
            }
          </div>
        </div>
        <div class="form-group">
          <label class="mb-2 mt-2">Post Image</label>
          <img [src]="imgSrc" class="form-control img-fluid img-preview" />
          <input
            type="file"
            class="form-control"
            accept="image/*"
            (change)="showPreview($event)"
            formControlName="postImg"
            [ngClass]="{
              'is-invalid':
                formControl['postImg'].touched &&
                formControl['postImg'].hasError('required')
            }"
          />
          <div>
            @if(formControl['postImg'].touched &&
            formControl['postImg'].hasError('required')){
            <div class="alert alert-danger">Post Image is required</div>
            }
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3 mb-5">
      <div class="col-md-12">
        <div class="card shadow-effect">
          <div class="card-body">
            <div class="form-group">
              <label for="" class="mb-2">Content</label>

              <angular-editor
                placeholder="Add your content here"
                formControlName="content"
              ></angular-editor>
              <div>
                @if(formControl['content'].touched &&
                formControl['content'].hasError('required')){
                <div class="alert alert-danger">Content is required</div>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 text-center mb-5">
      <button
        class="btn btn-info bg-theme"
        type="submit"
        [disabled]="postForm.invalid"
      >
        {{ formStatus }} Post
      </button>

      <button class="btn btn-warning ms-3" routerLink="/posts" type="button">
        Back to Post
      </button>
    </div>
  </form>
</div>
