<div class="container">
  <div class="row">
    <div class="col-md-12 bg-secondary-theme p-5 shadow-effect">
      <h3 class="text-center text-theme-primary">New Category</h3>
      <p class="text-center mb-5">You can add new category from here ..!</p>

      <form
        class="text-center form-inline d-flex justify-content-center gap-3"
        #categoryForm="ngForm"
        (ngSubmit)="onSubmit(categoryForm)"
        novalidate
      >
        <div class="form-group new-category-input-wrap">
          <input
            type="text"
            name="category"
            class="form-control shadow-effect new-category-input"
            placeholder="Add new Category"
            #newCategory="ngModel"
            ngModel
            required
            [ngClass]="{
              'is-invalid': newCategory.touched && newCategory.invalid
            }"
          />
          <div
            class="alert alert-danger"
            *ngIf="newCategory?.touched && newCategory?.invalid"
          >
            Category field is required
          </div>
        </div>

        <button
          class="btn btn-info btn-sub btn-sub-add"
          [disabled]="categoryForm.invalid"
        >
          Add Category
        </button>
      </form>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card shadow-effect">
        <div class="card-body">
          <table class="table row-border hover">
            <thead>
              <tr>
                <th>№</th>
                <th>Category</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let category of categoryArray; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ category.category }}</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
